[Unit]
Description=initloop pre docker
Requires=docker.service
After=docker.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/initloop.sh
User=root
Group=root
 
[Install]
WantedBy=multi-user.target 
