[Unit]
Description=pre network
Requires=network.target
Before=network.target remote-fs.target
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/prenetwork.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
