[Unit]
Description=pre docker
Requires=docker.service
Before=docker.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/vxlan.init start
User=root
Group=root
 
[Install]
WantedBy=multi-user.target 
